html, body {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $appColor;
  background-color: $appBackground;
  overflow: hidden;
}

// React app mounting point
// #root {
//   width: 100vw;
//   height: 100vh;
// }

// Wrapper
.Content {
  display: grid;
  grid-template-columns: [left] $queryColWidth [main] auto;
  grid-template-rows: [nav] $topNavHeight [body] auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Informational-Content {
  margin: auto 20rem 0 20rem;
  min-height: calc(100vh - $navHeight - $footerHeight);
  padding: 3rem 0 0 0;
}

.Informational-Content h2 {
  padding-left: $appPadding*2;
}

.Informational-Content .Inner-h3 {
  margin-bottom: $appMargin*2;
  background-color: $appPanelColor;
  padding: $appPadding*2;
  border-radius: $appBorderRadius;
}

.Informational-Content .Inner-h3 .Inner-h4 {
  margin-bottom: $appMargin;
  border-top: 1px solid $appBorderColorSecondary;
  padding-top: $appPadding/2;
}

.Inner-h4 p {
  margin-left: $appMargin;
}

// Top navigation
.Navigation {
  grid-column-start: 1;
  grid-column-end: span 2;

  display: flex;
  flex-direction: row;
}

.Navigation_branding {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.Navigation_links {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

// Left query builder wodgets
.Query {
  grid-column-start: 1;
  overflow-y: auto;
  overflow-x: hidden;

  overflow-y: auto;
  overflow-x: hidden;
}

// Container for the viz, status, and view controls
.Main {
  position: relative;
  grid-column-start: 2;
}

.Visualization {
  width: 100%;
  height: 100%;
}

// Status, legend, and attributes
.Status {
  position: absolute;
  top: 0;
  right: 0;
  width: $viewColWidth;
}

.ViewInfo + .Inspect {
  margin-top: $appPadding;
}

// View controls: zoom, reset
.ViewControl {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*
  Mico-layout styles 

  Expected DOM hierarchy:
  .layout_group
  -- .layout_row
  --- .layout_item.label
  --- .layout_item
  --- .layout_item.icon

  or 

  .layout_group
  -- .layout_row
  --- .layout_item.push
  --- .layout_item.ctl

  */

.layout_group {
  width: 100%;
}

.layout_group.inline {
  width: 100%;
  .layout_row {
    display: block;
    .layout_item {
      display: inline;
    }
  }
}

.layout_group.border {
  border-bottom: 1px solid $appBorderColorPrimary;
}

.layout_group.pad {
  padding: 12px;
}

.layout_row {
  display: flex;
  gap: $appPadding;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .layout_item {
    flex: 1;
    display: inline-block;
  }
  .layout_item.label {
    flex: 0;
    min-width: 2.5rem;
  }
  .layout_item.icon {
    flex: 0;
    min-width: 2rem;
  }
  .layout_item.push {
    margin-left: $appPadding + 2.5rem;
  }
}

.layout_group + .layout_group,
.layout_row + .layout_row {
  margin-top: $appPadding * 2;
}

.layout_group.inline {
  .layout_group + .layout_row,
  .layout_row + .layout_row {
    margin-top: $appPadding;
  }
}

.key {
  color: $appColor;
}

.value {
  color: $appColor;
}
  
