.leaflet-container {
    font-family: $baseFont;
    background-color: $appBackground;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    transform: rotate(90deg);
    margin-right: calc(15px + 1rem);
    background-color: $appBackgroundTransparent;
    padding: $appPadding;
    box-shadow: $boxShadow;
}

.leaflet-control-zoom-out, 
.leaflet-control-zoom-in {
    transform: rotate(-90deg);
    margin: 4px;
    border: 1px solid $appBorderColor;
    font-family: $baseFont;
    font: normal 16px $baseFont;
}

.leaflet-touch .leaflet-control-zoom-out,
.leaflet-touch .leaflet-control-zoom-in {
    font-size: 16px;
}

.leaflet-container .leaflet-control-attribution {
    margin-right: calc(1rem);
    opacity: .8;
    background-color: transparent;
    padding: 0;
    color: $appColor;
}

.leaflet-bar a,
.leaflet-bar a:last-child,
.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-touch .leaflet-bar {
    border: 1px solid $appBorderColor;
}

.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 0;
}

.leaflet-control-container a:hover {
    font-weight: 400;
}

.leaflet-bar a:hover {
    background-color: $appBackground;
    border-color: $appColor;
}
