.Footer {
    background-color: $appPanelColor;
    padding: $appPadding;
    border-top: 1px solid $appBorderColor;
    min-height: 40px;
    // position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    h5 {
        margin-bottom: 0;
    }
}
