.Navigation {
    background-color: $appPanelColor;
    padding: $appPadding;
    border-bottom: 1px solid $appBorderColorPrimary;
    height: $navHeight;

    h1 {
        margin: $appMargin;
    }

    h3 {
        margin: $appMargin;
        padding: $appPadding;
    }

    a:hover h3 {
        background-color: $appPanelColor;
        border: none;
        color: #333333;
    }
}
