.Query {
    background-color: #FAF6F0;
}

.QueryComponent {
    padding-bottom: $appPadding;
}

.ComponentGroupInner {
    border-bottom: 1px solid #F4DFC8;
    padding-top: $appPadding;
}

.ComponentGroup {
    padding: $appPadding;
    margin: $appMargin;
}
