.Query {
    background-color: $appPanelColor;
}

.QueryComponent {
    padding-bottom: $appPadding;
}

.ComponentGroupInner {
    border-bottom: 1px solid $appBorderColorSecondary;
    // padding-top: $appPadding;

    h3 {
        padding-top: 0.625rem;
    }

    h4 {
        margin-bottom: .15rem;
        padding-top: 0.625rem;
    }
}

.US.ComponentGroupInner {
    border: none;   
}

.ComponentGroup {
    margin: $appMargin;
}

.Query {
    padding: 1rem;
}
