.Status {
    position: fixed;
    top: calc($navHeight + 1rem);
    right: 1rem;
    cursor: grab;
    background-color: $appBackgroundTransparent;
    width: 250px;
    transition: right 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid $appBorderColor;
    border-radius: 5px;
    overflow-y: auto;
    z-index: +9;

    h3 {
        padding-bottom: 0rem;
    }
}