.added {
    color: $addedColor;
}

.removed {
    color: $removedColor;
}

.Tooltip .ComponentGroupInner {
    padding-bottom: 0.15rem;
    margin-bottom: 0.35rem;
    border-bottom: 1px solid $appBorderColorPrimary;
}

.Tooltip > .DetailInformation {
    padding-bottom: 0.3rem;
}
